body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

    button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

h1 {
    color: #333;
}

 #champions {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: 0.3s;
    width: 20%;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin: 0;
}

.card a {
    text-decoration: none;
    color: black;
}

.card p {
    color: grey;
}

@media screen and (max-width: 600px) {
    .card {
        width: 90%;
    }
}
